<!DOCTYPE html>
<header>
    <div class="navbar">
        <div class="logosection">
            <div id="logo"><img src="/logo" alt="LOGO"></div>
            <div id="logotext">SensingBharat</div>
        </div>
        <div class="navitemsdiv">
            <ul class="navitems">
                <li class="navitem"><a href="/">Home</a></li>
                <li class="navitem"><a href="/about">About</a></li>
                <li class="navitem"><a href="/contact">Contact</a></li>
            </ul>
        </div>
        <div class="buttons">
            <button id="log_in">LOG IN</button>
            <button id="sign_up">SIGN UP</button>
        </div>
    </div>
</header>