<!DOCTYPE html>
<%-include("./partials/head.ejs")%>
<body>
    <%-include("./partials/header.ejs")%>

    <div class="maincontent">
        <div class="leftpanel">
            <ul class="panelll">
                <li class="panelitem"><a href="/"><img src="images/panelicon1.png"></a></li>
                <li class="panelitem"><a href="/"><img src="images/panelicon2.png"></a></li>
                <li class="panelitem"><a href="/"><img src="images/panelicon3.png"></a></li>
                <li class="panelitem"><a href="/"><img src="images/panelicon4.png"></a></li>
            </ul>
        </div>
        <div class="main">
            <div class="instructiondisplay">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi dolorem reprehenderit quod voluptatibus architecto consectetur quos. Eos, culpa. Magnam quia placeat magni doloremque nam molestias!</div>
            <input class="coordinate_text" placeholder="Coordinates" readonly>
              
              
        </div>
    </div>  
          
</body>
</html>